.pop-up__title {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  padding: 0 0 28px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .pop-up__title {
    font-size: 18px;
    padding-top: 0;
    max-width: 282px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
