.pop-up {
  display: none;
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}
