.header__logo {
  box-sizing: border-box;
  min-width: 142px;
  justify-self: flex-start;
  padding: 0 0 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    min-width: 110px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-left: 27px;
    min-width: 103.74px;
  }
}
