.header__logo {
  width: 142px;
  justify-self: flex-start;
  padding: 45px 0 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 110px;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 31.6px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-top: 28px;
    padding-left: 27px;
    width: 103.74px;
  }
}
