.header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 680px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
