.profile__subtitle {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 1.21;
  padding: 0;
  margin: 9px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__subtitle {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 685px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
    margin: 8px 0 0;
  }
}
