.button__add {
  position: absolute;
  width: 150px;
  height: 50px;
  background-image: url(../../../Images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-color: #000000;
  border: 2px solid white;
  margin-top: 38px;
  right: 0px;
}

.button__add:hover {
  opacity: 0.6;
  transition: ease;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .button__add {
    width: 116px;
    height: 39px;
    background-size: 17px 17px;
  }
}

@media screen and (max-width: 685px) {
  .button__add {
    position: static;
    width: 310px;
    background-size: 25px 25px;
  }
}

@media screen and (max-width: 320px) {
  .button__add {
    width: 282px;
    background-size: 17px 17px;
  }
}
