.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  transition: ease;
  transition-duration: 0.5s;
  z-index: 100;
}

.profile__avatar:hover {
  opacity: 0.2;
}
