.profile__avatar-wrapper {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: ease;
  transition-duration: 0.5s;
  z-index: 0;
}

.profile__avatar-wrapper:hover .profile__change-avatar {
  visibility: visible;
  opacity: 1
}
