.pop-up__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 462px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .pop-up__container {
    flex-direction: column-reverse;
    align-items: flex-end;
    max-width: 282px;
  }
}
