.profile__buttons {
  display: flex;
  box-sizing: border-box;
  width: 48%;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__buttons {
    padding: 27px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__buttons {
    padding: 0;
  }
}
