.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  padding: 67px 0 60px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 680px;
    padding: 78px 0 69px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding: 48px 0 36px;
  }
}
