.element {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: minmax(1fr);
  grid-template-rows: 282px min-content;
  max-width: 282px;
  justify-self: center;
  padding: 0;
  margin: 0;
  gap: 0;
  overflow: hidden;
}
