.button__data-change {
  width: 24px;
  height: 24px;
  background-image: url(../../../Images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 2px solid white;
  margin-top: 38px;
}

.button__data-change:hover {
  opacity: 0.6;
  transition: ease;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .button__data-change {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 685px) {
  .button__data-change {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 36px;
    top: 116px;
  }
}
