.form__person {
  box-sizing: border-box;
  border: none;
  font-style: "Inter";
  padding-left: 36px;
  padding-right: 64px;
  margin: 54px 0 0;
}

@media screen and (max-width: 768px) {
  .form__person {
    margin: 75px 0 0;
    padding-left: 22px;
    padding-right: 22px;
  }
}
